.triangle {
  text-align: center;
}

.triangle-component {
  border: 3px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: red;
}

.triangle-component0{
  border: 3px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: red;
}

.triangle-component1{
  border: 3px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: yellow;
}

.triangle-component2{
  border: 3px;
  font-size: 25px;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: green;
}



