.triangle {
  text-align: center;
  overflow-y: scroll;
  margin-top: 30px;
}

.triangle-row {
  height: 25px;
}

.triangle-component-core {
  font-size: 15px;
  height: 25px;
  width: 25px;
  display: inline-block;
}

.triangle-component-color0{
  background-color: red;
}

.triangle-component-color1{
  background-color: yellow;
}

.triangle-component-color2{
  background-color: turquoise;
}

.triangle-component-color3{
  background-color: purple;
}

.triangle-component-color4{
  background-color: pink;
}

.triangle-component-color5{
  background-color: orange;
}

.triangle-component-color6{
  background-color: aqua;
}

.triangle-component-color7{
  background-color: ghostwhite;
}

.triangle-component-color8{
  background-color: salmon;
}

.triangle-component-color9{
  background-color: skyblue;
}